<%= stylesheet_link_tag 'listings' %>
<p id="notice"><%= notice %></p>

<h1>Listings</h1>
<div class="d-flex flex-wrap">
<% @listing.each do |l| %>
  <div class="card" style="width: 18rem;">
    <%= image_tag get_random_image, class:"card-img-top" %>
    <div class="card-body">
       <tbody>
        <tr>
          <div>
        <i class="fas fa-bath"></i><%= l.bathroom_number %>
        <i class="fas fa-bed"></i><%= l.bedroom_number %>
        <i class="fas fa-user"></i><%= l.guest_number %>
        </div>
         <p><%= l.city%></p>
        </tr>
        </tbody>
      <p class="card-text"><%= l.description %></p>
    </div>
      <div class="card-footer">
      <a href="/listings/<%=l.id %>" class="btn btn-primary d-flex flex-column">view Listing</a>
      </div>
  </div>
<% end %>
</div>



 




<%= link_to 'New Listing', new_listing_path %>


