<%= stylesheet_link_tag 'listings' %>
<p id="notice"><%= notice %></p>

<%= bootstrap_form_with(model: @listing, local: true) do |f| %>
	<h4>Place type</h4>

	<%= f.select :place_type, options_for_select(Listing.place_type), include_blank: true %><br>

	<h4>Property type</h4>
	<div id="proerty-type">
	</div>
	<div id="apartment_list" class="d-none hidden-list">
	<%= f.select :property_type, options_for_select(Listing.apartment) %>
	</div>
	<div id="house_list" class="d-none hidden-list">
	<%= f.select :property_type, options_for_select(Listing.house) %>
	</div>
	<div id="secondary_unit_list" class="d-none hidden-list">
	<%= f.select :property_type, options_for_select(Listing.secondary_unit) %>
	</div>
	<div id="unique_space_list" class="d-none hidden-list">
	<%= f.select :property_type, options_for_select(Listing.unique_space) %>
	</div>
	<div id="bed_and_breakfast_list" class="d-none hidden-list">
	<%= f.select :property_type, options_for_select(Listing.bed_and_breakfast) %>
	</div>
	<div id="boutique_hotel_list" class="d-none hidden-list">
	<%= f.select :property_type, options_for_select(Listing.boutique_hotel) %>
	</div>
	<%= f.select :guest_number, options_for_select(Listing.guest_number)  %>

	<%= f.select :bedroom_number, options_for_select(Listing.bedroom_number)  %>

	<%= f.select :bed_number, options_for_select(Listing.bed_number)  %>

	<%= f.select :bathroom_number, options_for_select(Listing.bathroom_number)  %>

<%= bootstrap_form_with(model: @listing, local: true) do |f| %>
	<%= bootstrap_form_with(model: Listing.new, url: root_url) do |f| %>
  	<%= f.country_select :country %>
  	<<% end -%>

  	<div class="text-field">
  	<%= f.text_field :address %>
	</div>
	<% end %>
<% end -%>

<br>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
